header {
    text-align: center;
    margin: -10px;
    padding: 20px;
    background-color: grey;
}

button {
    float: right;
    margin: 10px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

table th {
    border: 1px solid black;
    padding: 10px;
}

table tr, table td{
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

/* #monthlyIncome{
    color: red;
} */


/* .negative {
    color: red;
    } */

/* .greater10 {
    color: red;
  }
   */

/* table.alternate tr:nth-child(even) {
    background-color: #BBBBBB;
} */


